{% extends "layout.html" %}

{% block title %}
    Sell
{% endblock %}

{% block main %}
    <form action="/sell" method="post">
        <label for="sellForm">Choose a share to sell</label>
        <select name="symbols">
          {% for symbol in symbols %}
            <option value="{{ symbol }}" SELECTED>{{ symbol }}</option>
          {% endfor %}
        </select>
        <div class="mb-3">
            <input class="form-control mx-auto w-auto" id="shares" name="shares" placeholder="How much to sell" type="text">
        </div>
        <button class="btn btn-primary" type="submit">Sell</button>
    </form>
{% endblock %}
